body {
    font-family: sans-serif;
    background-color: white;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
    font-color:red;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.container{
                max-width: 800px;
                color: grey;
                font: san-serif;
                margin-top: 0 auto;
                padding-top:60px;
                padding-left:20px;
                padding-right:20px;
            }

